body {
    color: white;
    padding: 0 16px;
}
li:before {
    content: '• ';
    width: 3em;
}

#layers {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 16px;
}

div.colorpicker {
        position: relative;
        width: 257px;
        height: 257px;
        margin-left: auto;
        margin-right: auto;
}
img.colorpicker {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
}
svg.colorpicker {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
}
div.slider {
        position: relative;
        width: 291px;
        height: 32px;
}
img.slider {
        position: absolute;
        left: 0px;
}
svg.slider {
        position: absolute;
        left: 0px;
        pointer-events: none;
}
input.slider{
        position: absolute;
        right: 0px;
        width: 25px;
}
input.value_input {
        right: 0px;
        width: 25px;
}
div.swatch {
        width: 64px;
        height: 64px;
        display: inline-block;
}

